* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(197, 58, 58);
}

.button-present {
    width: 110px;
    height: 110px;
    text-decoration: none;
    display: block;
    border-radius: 50%;
    color: rgb(187, 150, 255);
    box-shadow: 0 0 15px 5px rgb(34, 0, 61);
    border: none;
    font-size: 0;
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: center;
    background-color: #ffc9c9;
}

.button-present:hover {
    transition: background-color 1.5s ease, box-shadow 1s ease;
    box-shadow: 0 0 15px 5px rgb(154, 161, 255);
    background-image: url(../img/2.png);
    background-size: cover;
    background-position: center;
}

.button-present:active {
    transition: background-color 1.5s ease, box-shadow 1s ease;
    background-color: rgb(255, 0, 255);
    box-shadow: 0 0 15px 5px rgb(255, 208, 255);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.cover {
    background-color: black;
    background-image: url('../img/TAJJ.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.button {
    width:
}